torch==1.7.1
torchvision==0.8.2
opencv-contrib-python
prettytable
tqdm
yacs
torchfile
plyfile
munkres
chumpy
trimesh
pyrender
shyaml
PyYAML>=5.1.2
numpy-quaternion
open3d
pygame
keyboard
transforms3d
bvhtoolbox
pyrender==0.1.43
h5py
